* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #E4E9ED;
}

.App {
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .container {
        
        .ticket_head {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 14px;

            .logo {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            .subtitle {
                color: #0027D0;
                font-size: 24px;
            }

            .direction {
                color: #0027D0;
                font-size: 17px;
            }

            .incon_box {
                display: flex;
                gap: 18px;

                a {
                    color: #000;
                }
            }
        }

        .ticket_cards {
            margin: 34px 0;
            display: flex;
            flex-direction: column;
            gap: 24px;
            a {
                text-decoration: none;
            }
            
            .card {
                display: flex;
                align-items: center;
                padding: 15px;
                width: 580px;
                height: 68px;
                background-color: #fff;
                border-radius: 32px;
                transition: all 0.2s;
                
                .card_text {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                p {
                    color: #0027D0;
                }

                @media screen and (max-width: 600px) {
                    width: 500px;
                }
                @media screen and (max-width: 500px) {
                    width: 400px;
                }
                @media screen and (max-width: 400px) {
                    width: 320px;
                }

            }

            .card:hover {
                background: none;
                color: #fff;
                border: 2px solid #fff;
            }
        }
    }
}